# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.New Unity Project.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Folders Desktop\Study\ЯТП\GameUlearn\New Unity Project\.idea\.idea.New Unity Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
